body, html {
  height: 100%;
  margin: 0;
}

nav {
  height:70px;
  background-color:black;
  border-bottom: 2px solid #EE6363;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  float: right;
  list-style-type: none;
}


ul li {
  padding-right: 20px;
  display: inline;
  line-height: 65px;
  font-size: 20px;
  font-family: 'Boogaloo', cursive;
}

a, u {
    text-decoration: none;
}

a {
  color: white;
}


a:hover {
    color: #EE6363;
    font-size: 30px;
}

.freemanImageStudio {
  position: relative;
  min-height: 85%;
  background-image: url('../images/MarcFreeman3000.JPG');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -20px;
  opacity: 0.80;
  z-index: -1;
}



.freemanImageStudio2 {
  position: relative;
  min-height: 500px;
  background-image: url('../images/marcFreemanDannyBrown.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.80;
  z-index: -1;
}

.freemanImageStudio3 {
  position: relative;
  min-height: 500px;
  background-image: url('../images/Type2marc.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  z-index: -1;
}

.freemanImageStudio4 {
  position: relative;
  min-height: 80%;
  background-image: url('../images/Type2console2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.75;
  z-index: -1;
}

.freemanImageStudio5 {
  position: relative;
  min-height: 100%;
  background-image: url('../images/marcfFreemanniceStylisedStudio.JPG');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  z-index: -1;
}

.freemanBio, .freemanBio2, .freemanBio3  {
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 80px;
  font-family: 'Boogaloo', cursive;
  /*border-top: 2px solid #EE6363;
  border-bottom: 2px solid #EE6363;*/
  font-size: 20px;
}

.freemanBio4 {
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 80px;
  font-family: 'Boogaloo', cursive;
  /*border-top: 2px solid #EE6363;
  border-bottom: 2px solid #EE6363;*/
  font-size: 20px;
}

.freemanBio4 > p {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}

p.contactBlurb {
  margin-top: 0px;
  font-size: 25px;
}

.containerOne {
  position: absolute;
  background-color: black;
  color: white;
  padding: 18px;
  left:500px;
  top: 30%;
  width: 500px;
  height: 300px;
  font-family: 'Boogaloo', cursive;
  opacity: 100;
  font-size: 20px;
  border: 2px solid white;
  text-align: center;
}

.containerOne > a:hover {
  color: #EE6363;
  font-size: 40px;
}

p.contactTitle {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 10px;
}

p.sectionTitle {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p.reviewSlidesAuthor{
  color: #EE6363;
}


.logo {
position: absolute;
top: 1%;
height: 60px;
}
