body, html {
  height: 100%;
  margin: 0;
}

nav {
  height:70px;
  background-color:black;
  border-bottom: 2px solid #EE6363;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  float: right;
  list-style-type: none;
}


ul li {
  padding-right: 20px;
  display: inline;
  line-height: 65px;
  font-size: 20px;
  font-family: 'Boogaloo', cursive;
}

a, u {
    text-decoration: none;
}

a {
  color: white;
}


a:hover {
    color: #EE6363;
    font-size: 30px;
}

.freemanImageStudio {
  position: relative;
  min-height: 85%;
  background-image: url('../images/MarcFreeman3000.JPG');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -20px;
  opacity: 0.80;
  z-index: -1;
}



.freemanImageStudio2 {
  position: relative;
  min-height: 500px;
  background-image: url('../images/marcFreemanDannyBrown.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.80;
  z-index: -1;
}

.freemanImageStudio3 {
  position: relative;
  min-height: 500px;
  background-image: url('../images/Type2marc.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  z-index: -1;
}

.freemanImageStudio4 {
  position: relative;
  min-height: 80%;
  background-image: url('../images/Type2console2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.75;
  z-index: -1;
}

.freemanImageStudio5 {
  position: relative;
  min-height: 100%;
  background-image: url('../images/marcfFreemanniceStylisedStudio.JPG');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  z-index: -1;
}

.freemanBio, .freemanBio2, .freemanBio3  {
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 80px;
  font-family: 'Boogaloo', cursive;
  /*border-top: 2px solid #EE6363;
  border-bottom: 2px solid #EE6363;*/
  font-size: 20px;
}

.freemanBio4 {
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 80px;
  font-family: 'Boogaloo', cursive;
  /*border-top: 2px solid #EE6363;
  border-bottom: 2px solid #EE6363;*/
  font-size: 20px;
}

.freemanBio4 > p {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}

p.contactBlurb {
  margin-top: 0px;
  font-size: 25px;
}

.containerOne {
  position: absolute;
  background-color: black;
  color: white;
  padding: 18px;
  left:500px;
  top: 30%;
  width: 500px;
  height: 300px;
  font-family: 'Boogaloo', cursive;
  opacity: 100;
  font-size: 20px;
  border: 2px solid white;
  text-align: center;
}

.containerOne > a:hover {
  color: #EE6363;
  font-size: 40px;
}

p.contactTitle {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 10px;
}

p.sectionTitle {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p.reviewSlidesAuthor{
  color: #EE6363;
}


.logo {
position: absolute;
top: 1%;
height: 60px;
}


/*mobile css*/


@media screen and (max-width : 375px) {

  .freemanImageStudio{ 
    /*background-size: 85%;*/
    background-position: -400px 65px;
    }

    /*.freemanBio{
      height: 100px;
    }*/

     /*.freemanBio:active {
      height: auto;
    }

    .freemanBio:active > p {
      display: block;
    }*/

    /*.freemanBio > p {
      display: none;
    }*/

    /*.freemanBio > p:active {
      height: auto;
    }*/

    p.sectionTitle{
      display: block;
    }

    /*hide your images to keep the mobil site load free*/
    .freemanImageStudio2, .freemanImageStudio3, .freemanImageStudio4 {
      display: none;

    }

    .freemanImageStudio5{
      background-size: 0%;
      min-height: 1%
    }

    .containerOne{
      width: 90%;
      left: 0.5px;
    }

    /*.marcMicrophoneImage {
      display: none;
    }*/

    .logo {
      left: 80px;
    }

    /*#marcMicrophoneImage {
      transform: rotate(90deg);
    }*/


/*
 * Just a quick hamburger
 */
/*.marcMenu span
{
  display: block;
  width: 60px;
  height: 10px;
  margin-bottom: 10px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.marcMenu span:first-child
{
  transform-origin: 0% 0%;
}

.marcMenu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}*/


/*hide nav elements at top left of screen*/

/*nav {
  width:36.1%;
}*/

/*hide items to left*/
/*#marcMenuItems
{
  position: absolute;
  width: 324px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  /*transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}*/

/*#marcMenuItems li
{
  padding: 10px 0;
  font-size: 22px;
  list-style-type: circle;
  display: block;
  text-align: center;

}*/


	.marcMicrophoneImage {

		display:inline-block;

	}

	nav ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: black;
		border: 5px solid #444;
		right: 30px;
		top: 60px;
		width: 70%;
		border-radius: 4px 0 4px 4px;

	}

  /*nav:visited ul {
    display: none;
  }*/

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
    display: block;

	}

  nav:hover ul {

		display: block;

	}

} 